

<!-- <h1>Normal List</h1> -->
<!-- <div *ngIf="CoursesList.length > 0; else errorlist">
  <div class="course-list">
    <app-course-card *ngFor="let course of CoursesList" [course]="course"></app-course-card>
  </div>
   <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="currentPage === 1" class="btn btn-primary">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn btn-primary">Next</button>
  </div>
</div> -->


<!-- <ng-template #errorlist>
  <div class="alert alert-danger">
    Internet connection lost or no data available.
  </div>
  <button (click)="onclick()">Click</button>
</ng-template> -->




<!-- <h1>Signal List</h1>


<div *ngIf="coursessignal().length > 0; else errorTemplate">
  <div class="course-list">
    <app-course-card *ngFor="let course of coursessignal()" [course]="course"></app-course-card>
  </div>
</div>


<ng-template #errorTemplate>
  <div class="alert alert-danger">
    Internet connection lost or no data available.
  </div>
  <button (click)="onclick()">Click</button>
</ng-template>  -->



<h2 class="text-center">Computed Signal List</h2>

<div class="container">
  <!-- Search Box -->
  <input
    matInput
    type="text"
    class="form-control mb-3"
    placeholder="🔍 Search courses..."

    (input)="updateSearch($event)"

  />

<div *ngIf="filteredCourses().length > 0; else emptydataTemplate">
  <div class="course-list">
    <app-course-card *ngFor="let course of filteredCourses()" [CourseObject]="course" disabled [count]="course.id"></app-course-card>
  </div>
</div>

<!-- Error Template for no data / connection issue -->
<ng-template #errorTemplate>
  <div class="alert alert-danger">
    Internet connection lost or no data available.
  </div>
  <button (click)="onclick()">Click</button>
</ng-template>


<ng-template #emptydataTemplate>
  <div>
    <p>No Courses Found</p>
  </div>
</ng-template>


