
<div class="container text-center mt-5">
  <h1 class="display-4">Coding from A to Z</h1>
  <p class="lead">Stay Updated with the Angular Ecosystem</p>
  <h2 class="text-warning">Upcoming Courses!</h2>
</div>
<br>
<br>

<div *ngIf="isLoading(); else carousel" class="loading-container text-center">
  <p>Loading images...</p>
</div>

<ng-template #carousel>
  <div class="carousel-container">
    <owl-carousel-o [options]="carouselOptions">
      @for (img of images(); track img) {
        <ng-container>
          <ng-template carouselSlide>
            <img [src]="img" alt="Carousel image" class="carousel-image" />
          </ng-template>
        </ng-container>
      }
    </owl-carousel-o>
  </div>
</ng-template>


